---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Exploring The <strong>Cosmos</strong></h1>
<p class="paragraph">We are a team of passionate individuals who share a common love for the cosmos. Our team consists of astronomers, astrophysicists, and space enthusiasts who are dedicated to sharing their knowledge and passion with the world.</p>
